%section#title
  %h1 
    Los 10,000 nombres de
    = @person.name


%section#names
  - @nicknames.each do |nickname|
    .fan
      = nickname.name

%section#new_name_form
  %hr
  %h2
    Nuevo
  = form_for :nickname, url: '/nickname' do |f|
    %p
      = f.label :nombre
      = f.text_field :name

    = f.hidden_field :people_id, value: @person.id

    %p
      = f.submit 'guardar'

:javascript
  $(document).ready(function() {
    $("html, body").scrollTop(10000);
  });
